---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-test
  namespace: flux-system
spec:
  interval: 30m0s
  path: ./apps/dev
  prune: true
  retryInterval: 2m0s
  sourceRef:
    kind: GitRepository
    name: flux-test
    namespace: flux-system
  targetNamespace: podtato-kubectl-dev
  timeout: 3m0s
  wait: true
